
<div class="row">
    <form id= "form" #form="ngForm" class="row">
        <div class="row">
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="service.selected._id">
          <div class="input-field col-s12">
            <input type="text" name="name" #name="ngModel" [(ngModel)]="service.selected.name" placeholder="Ingresa el nombre del ciclo escolar.">
          </div>
          <div class="input-field col-s12">
            <input type="number" name="fees" #fees="ngModel" [(ngModel)]="service.selected.fees" placeholder="¿Cuanto costará la inscripción a ministerio juvenil?">
          </div>
          <div class="input-field col s12">
            <button class="btn left" (click)="resetForm(form)">Clean</button>
            <button id="submit" type="submit" class="btn right" (click)="add(form)">Save</button>
          </div>
        </div>
    </form>
</div>
<div class="row">
    <table>
      <thead>
        <th>Cycle</th>
        <th>Costo de inscripción</th>
      </thead>
      <tbody>
        <tr *ngFor="let single of service.plural">
          <td> {{ single.name }}</td>
          <td> {{ single.fees }}</td>
          <td> 
            <a href="javascript:void(0)" (click)="select(single)">
              <i class="material-icons">edit</i>
            </a>
            <a href="javascript:void(0)" (click)="delete(single._id)">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

</div>