<header>
    <nav class="light-blue darken-4">
        <div class="container">
            <div class="nav-wrapper">
                <a routerLink="/" class="brand-logo">
                    <img src="assets/img/mj-logo.png" alt="logo" class="responsive-img logo">
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a routerLink="/students" *ngIf="AuthService.isSecretary()">Estudiantes</a></li>
                    <li><a routerLink="/directors" *ngIf="AuthService.isSecretary()">Directiva</a></li>
                    <li><a routerLink="/clubs" *ngIf="AuthService.isSecretary()">Clubes</a></li>
                    <li><a routerLink="/cycles" *ngIf="AuthService.isAdmin()">Ciclos</a></li>
                    <li><a routerLink="/enrolls" *ngIf="AuthService.isSecretary()">Inscritos</a></li>
                    <li><a routerLink="/login" *ngIf="!AuthService.isLoggedIn()">Iniciar sesión</a></li>
                    <li><a (click)="doLogout();" *ngIf="AuthService.isLoggedIn()">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>