<header>
    <nav class="light-blue darken-4">
      <div class="container">
          <div class="nav-wrapper">
            <a routerLink="/" class="brand-logo">
              <img src="assets/img/mj-logo.png" alt="logo" class="responsive-img logo">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a routerLink="/students">Estudiantes</a></li>
              <li><a  routerLink="/directors" class="">Directiva</a></li>
              <li><a  routerLink="/clubs" class="">Clubes</a></li>
              <li><a  routerLink="/cycles" class="">Ciclos</a></li>
              <li><a  routerLink="/enrolls">Inscritos</a></li>
            </ul>
          </div></div>
      </nav>
  </header>