<div class="row">
    <form id="studentForm" #studentForm="ngForm" class="row">
        <div class="row">
            <div class="col-sm-6">
                <div class="input-field col-sm-12">
                    <input type="text" name="_id" class="tooltipped" #_id="ngModel" data-position="top" data-tooltip="Para no alumnos dejar vacio. Su matricula será 'NombreApellido'"
                        [(ngModel)]="service.selected._id" placeholder="Matricula" autocomplete="off">
                </div>
                <div class="input-field col-sm-12">
                    <input type="text" name="first_name" #first_name="ngModel" [(ngModel)]="service.selected.first_name"
                        placeholder="Nombre" autocomplete="off">
                </div>
                <div class="input-field col-sm-12">
                    <input type="text" name="last_name" #last_name="ngModel" [(ngModel)]="service.selected.last_name"
                        placeholder="Apellido" autocomplete="off">
                </div>
                <div class="input-field col-sm-12">
                    <ng-select [items]="service.careers" bindLabel="name" bindValue="name" groupBy="faculty" name="career"
                        placeholder="Escribe la carrera" #career="ngModel" [(ngModel)]="service.selected.career">
                        <ng-template ng-optgroup-tmp let-item="item">
                            {{item.faculty || 'Unnamed group'}}
                        </ng-template>
                    </ng-select>
                </div>
                <div class="input-field col-sm-12">
                    <input type="number" name="career_year" #career_year="ngModel" [(ngModel)]="service.selected.career_year"
                        placeholder="Año de la carrera">
                </div>
                <div class="input-field col-sm-12">
                    <input type="text" class="tooltipped" data-position="top" data-tooltip="Escribir en formato dd/mm/yyyy"
                        name="birthday" #birthday="ngModel" [(ngModel)]="service.selected.birthday" placeholder="Fecha de nacimiento">
                </div>
                <div class="input-field col-sm-12">
                    <input type="email" name="email" #email="ngModel" [(ngModel)]="service.selected.email" placeholder="Email">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-field col-sm-12">
                    <input type="tel" name="phone" #phone="ngModel" [(ngModel)]="service.selected.phone" placeholder="Telefono">
                </div>
                <div class="input-field col-sm-12">
                    <ng-select [items]="service.shirt_size" [virtualScroll]="true" bindLabel="name" bindValue="id"
                        placeholder="Talla de camisa" name="shirt_size" #shirt_size="ngModel" [(ngModel)]="service.selected.shirt_size">
                    </ng-select>
                </div>
                <div class="input-field col-sm-12">
                    <div class="switch">
                        <label>
                            Externo
                            <input id="food-conditional" type="checkbox" name="resident" #resident="ngModel"
                                [(ngModel)]="service.selected.resident" [checked]="service.selected.resident">
                            <span class="lever"></span>
                            Interno
                        </label>
                    </div>
                </div>
                <div id="residence-field" class="input-field col-sm-12 food-conditional">
                    <input type="number" name="residence" #residence="ngModel" [(ngModel)]="service.selected.residence"
                        placeholder="Dormitorio">
                </div>
                <div class="input-field col-sm-12 food-conditional">
                    <p>
                        <label>
                            <input type="checkbox" name="breakfast" [(ngModel)]="service.selected.breakfast" [checked]="service.selected.breakfast">
                            <span>Desayuno</span>
                        </label>
                    </p>
                </div>
                <div class="input-field col-sm-12 food-conditional">
                    <p>
                        <label>
                            <input type="checkbox" name="lunch" [(ngModel)]="service.selected.lunch" [checked]="service.selected.lunch">
                            <span>Comida</span>
                        </label>
                    </p>
                </div>
                <div class="input-field col-sm-12 food-conditional">
                    <p>
                        <label>
                            <input type="checkbox" name="dinner" [(ngModel)]="service.selected.dinner" [checked]="service.selected.dinner">
                            <span>Cena</span>
                        </label>
                    </p>
                </div>
                <div class="input-field col-sm-12">
                    <input type="text" name="blood_type" #blood_type="ngModel" [(ngModel)]="service.selected.blood_type"
                        class="tooltipped" data-position="bottom" data-tooltip="Si no sabe, dejarlo en blanco"
                        placeholder="Tipo de sangre">
                </div>
                <div class="input-field col-sm-12">
                    <textarea name="drugs" #drugs="ngModel" [(ngModel)]="service.selected.drugs" class="materialize-textarea"
                        placeholder="¿Toma medicamentos?"></textarea>
                </div>
                <div class="input-field col-sm-12">
                    <textarea id="allergy" name="allergy" #allergy="ngModel" [(ngModel)]="service.selected.allergy"
                        placeholder="¿Alergias?" class="materialize-textarea"></textarea>
                </div>
                <div class="input-field col-sm-12">
                    <textarea id="allergy" name="recent_illness" #recent_illness="ngModel" [(ngModel)]="service.selected.recent_illness"
                        placeholder="Alergias?" class="materialize-textarea"></textarea>
                </div>
            </div>
            <div class="input-field col-sm-12">
                <button class="btn left" (click)="resetForm(studentForm)">Limpiar formulario</button>
                <button id="edit" class="btn right hidden" (click)="editStudent(studentForm)">Guardar</button>
                <button id="submit" type="submit" class="btn right" (click)="addStudent(studentForm)">Guardar</button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <table class="bTable"></table>
</div>