<div>
    <form id="form" #form="ngForm" class="row text-center">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="service.selected._id">
        <div class="col-sm-12 col-md-6">
            <div class="form-group col-sm-12">
                <input type="text" name="_id" class="form-control" #_id="ngModel" data-position="top"
                    [(ngModel)]="service.selected._id" placeholder="Matricula (si no tiene, déjalo vacío)"
                    autocomplete="off">
            </div>
            <div class="form-group col-sm-12">
                <input type="text" name="first_name" #first_name="ngModel" [(ngModel)]="service.selected.first_name"
                    placeholder="Nombre(s)" class="form-control" autocomplete="off">
            </div>
            <div class="form-group col-sm-12">
                <input type="text" name="last_name" #last_name="ngModel" [(ngModel)]="service.selected.last_name"
                    placeholder="Apellido(s)" class="form-control" autocomplete="off">
            </div>
            <div class="form-group col-sm-12">
                <ng-select [items]="service.careers" bindLabel="name" bindValue="name" groupBy="faculty" name="career"
                    placeholder="Escribe la carrera" #career="ngModel" [(ngModel)]="service.selected.career">
                    <ng-template ng-optgroup-tmp let-item="item">
                        {{item.faculty || 'Unnamed group'}}
                    </ng-template>
                </ng-select>
            </div>
            <div class="form-group col-sm-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Año de la carrera</span>
                    </div>
                    <input type="number" name="career_year" class="form-control" #career_year="ngModel"
                        [(ngModel)]="service.selected.career_year">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <input type="text" class="form-control" name="birthday" #birthday="ngModel"
                    [(ngModel)]="service.selected.birthday" placeholder="Fecha de nacimiento">

            </div>
            <div class="form-group col-sm-12">
                <input type="email" class="form-control validate" name="email" #email="ngModel"
                    [(ngModel)]="service.selected.email" placeholder="Email">
            </div>
            <div class="form-group col-sm-12">
                <input type="tel" class="form-control validate" name="phone" #phone="ngModel"
                    [(ngModel)]="service.selected.phone" placeholder="Telefono">
            </div>
            <div class="form-group col-sm-12">
                <input type="text" class="form-control validate" name="religion" #religion="ngModel"
                    [(ngModel)]="service.selected.religion" placeholder="Religion">
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="form-group col-sm-12">
                <ng-select [items]="service.shirt_size" [virtualScroll]="true" bindLabel="name" bindValue="id"
                    placeholder="Talla de camisa" name="shirt_size" #shirt_size="ngModel"
                    [(ngModel)]="service.selected.shirt_size">
                </ng-select>
            </div>
            <div class="form-group col-sm-12">
                <div class="form-check form-check-inline">
                    <input type="checkbox" id="" name="resident" #resident="ngModel"
                        [(ngModel)]="service.selected.resident" [checked]="service.selected.resident"
                        class="form-check-input" type="checkbox" id="resident">
                    <label class="form-check-label" for="defaultCheck1">
                        Interno?
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" name="baptized" #baptized="ngModel" [(ngModel)]="service.selected.baptized"
                        [checked]="service.selected.baptized" class="form-check-input" type="checkbox" id="baptized">
                    <label class="form-check-label" for="defaultCheck1">
                        ¿Bautizado?
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" name="mexican" #mexican="ngModel" [(ngModel)]="service.selected.mexican"
                        [checked]="service.selected.mexican" class="form-check-input" type="checkbox" id="mexican">
                    <label class="form-check-label" for="defaultCheck1">
                        ¿Mexicano?
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="residence-conditional" *ngIf="service.selected.resident">
                    <div id="residence-field" class="col-sm-12 food-conditional">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Dormitorio</span>
                            </div>
                            <input type="number" class="form-control" name="residence" #residence="ngModel"
                                [(ngModel)]="service.selected.residence">
                        </div>
                    </div>
                    <div class="row container text-center">
                        <div class="col-sm-4">
                            <div class="form-check form-check-inline">
                                <input type="checkbox" name="breakfast" [(ngModel)]="service.selected.breakfast"
                                    [checked]="service.selected.breakfast" class="form-check-input" type="checkbox"
                                    id="inlineCheckbox1">
                                <label class="form-check-label" for="inlineCheckbox1">Desayunos</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check form-check-inline">
                                <input name="lunch" [(ngModel)]="service.selected.lunch"
                                    [checked]="service.selected.lunch" class="form-check-input" type="checkbox"
                                    id="inlineCheckbox2">
                                <label class="form-check-label" for="inlineCheckbox2">Comidas</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-check form-check-inline">
                                <input name="dinner" [(ngModel)]="service.selected.dinner"
                                    [checked]="service.selected.dinner" class="form-check-input" type="checkbox"
                                    id="inlineCheckbox3">
                                <label class="form-check-label" for="inlineCheckbox3">Cenas</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Tipo de sangre</span>
                    </div>
                    <input type="text" name="blood_type" #blood_type="ngModel" [(ngModel)]="service.selected.blood_type"
                        class="form-control" data-position="bottom">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Mediamentos</span>
                    </div> <textarea name="drugs" #drugs="ngModel" [(ngModel)]="service.selected.drugs"
                        class="materialize-textarea" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Alergias</span>
                    </div>
                    <textarea name="allergy" #allergy="ngModel" [(ngModel)]="service.selected.allergy"
                        class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Cirugias recientes</span>
                    </div>
                    <textarea name="recent_illness" #recent_illness="ngModel"
                        [(ngModel)]="service.selected.recent_illness" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Teléfono de emergencia</span>
                    </div>
                    <input type="text" name="emergency_phone" #emergency_phone="ngModel"
                        [(ngModel)]="service.selected.emergency_phone" class="form-control" data-position="bottom">
                </div>
            </div>
        </div>
        <div class="col-sm-12 d-flex justify-content-around">
            <button class="btn left" (click)="resetForm(form)">Limpiar</button>
            <button id="submit" type="submit" class="btn right" (click)="add(form)">Guardar</button>
        </div>
    </form>
</div>

<div class="row">
    <table class="bTable">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>