<div class="row">
    <form id="form" #form="ngForm" class="row">
        <div class="row">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="service.selected._id">
            <div class="input-field col-sm-12">
                <ng-select [virtualScroll]="true" name="role" #role="ngModel" [(ngModel)]="service.selected.role"
                    autocomplete="off" placeholder="Selecciona el puesto">
                    <ng-option [value]="'admin'">Administrador</ng-option>
                    <ng-option [value]="'director'">Director</ng-option>
                    <ng-option [value]="'secretario'">Secretario</ng-option>
                    <ng-option [value]="'tesorero'">Tesorero</ng-option>
                    <ng-option [value]="'inscripciones'">Inscripciones</ng-option>
                </ng-select>
            </div>
            <div class="input-field col-sm-12">
                <ng-select [items]="select_student" [virtualScroll]="true" bindLabel="student" bindValue="_id"
                    placeholder="Selecciona el estudiante" name="student" #student="ngModel" [(ngModel)]="service.selected.student._id"
                    autocomplete="off">
                </ng-select>
            </div>
            <div class="input-field col-sm-12">
                <input type="password" name="password" #password="ngModel" [(ngModel)]="service.selected.password"
                    placeholder="Contraseña">
            </div>
            <div class="input-field col-sm-12">
                <input type="password" name="password2" #password2="ngModel" [(ngModel)]="service.selected.password2"
                    placeholder="Confirmar contraseña">
            </div>
            <div class="input-field col-sm-12">
                <ng-select [items]="select_club" [virtualScroll]="true" bindLabel="name" bindValue="_id" placeholder="Selecciona el club"
                    name="club" #club="ngModel" [(ngModel)]="service.selected.club._id" autocomplete="off">
                </ng-select>
            </div>
            <div class="input-field col-sm-12">
                <button class="btn left" (click)="resetForm(form)">Limpiar formulario</button>
                <button id="submit" type="submit" class="btn right" (click)="add(form)">Guardar</button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <table class="bTable"></table>
</div>