<div class="row" *ngIf="AuthService.isSecretary()">
    <form id="form" #form="ngForm" class="row">
        <div class="row">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="service.selected._id">
            <div class="input-field col-sm-12">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="service.selected.name" placeholder="Nombre del club">
            </div>
            <div class="input-field col-sm-12">
                <input type="text" name="logo" #logo="ngModel" [(ngModel)]="service.selected.logo" placeholder="Agrega tu logo">
            </div>
            <div class="input-field col-sm-12">
                <input type="text" name="type" #type="ngModel" [(ngModel)]="service.selected.type" placeholder="Tipo de club">
            </div>
            <div class="input-field col-sm-12">
                <input type="number" name="fees" #fees="ngModel" [(ngModel)]="service.selected.fees" placeholder="¿Cuanto costará la inscripción este periodo?">
            </div>
            <div class="input-field col-sm-12">
                <button class="btn left" (click)="resetForm(form)">Limpiar formulario</button>
                <button id="submit" type="submit" class="btn right" (click)="add(form)">Guardar</button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <table class="bTable"></table>
</div>